body {
    background-image:url(blue1.jpg);
    background-size:cover;
    background-attachment: fixed;

        
}
.content{
    background: white;
    width: auto;
    padding: auto;
    margin: auto;
    
}
.blend {
    mix-blend-mode: exclusion;
}
img {
    border: 4px solid rgb(17, 134, 155);
}
h1{ 
    color: rgb(140, 170, 235);
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 220%;
}
p { 
    color: rgb(140, 170, 235);
    font-size:large;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
div.box {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: black;
}
.MyLink{
    border: 4px cyan;
    color:gold;

}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
blockquote {

    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: large;
}
a::content{
    text-align: center;
}
a:link { 
    text-align: center;
    font-size: 30px;
    color:rgb(54, 141, 216);
    
}
a:hover{
    color: rgb(255, 8, 0);
}
a:active{
    color:rgb(251, 255, 0);
}
address {
    text-align: right;
    color:rgb(255, 255, 255);
    text-align: left;
    border-style:groove;
    
    ;
}
#img {
    border: 5px blue;
    border-style: double;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(28, 97, 124);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
